<!-- 
  Camero, Jan Andrew S.
-->

<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <title>Let's Go!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" type="text/css" href="/index.css" />
</head>

<body>

  <header>
    <h1>Let's Go!</h1>
    <p>Have a trip around the world with us.</p>
  </header>

  <main>

    <div class="topnav">
      <input type="text" style="padding-left: 8px;float: right; width: 25%; height: 46px; background-color: rgb(246, 241, 241)"
        placeholder="Search"></input>
      <a href="/" style="float: left">Home</a>
      <a href="/landmarks" style="float: left">Landmarks</a>
      <a href="/countries" style="float: left">Countries</a>
      <a href="/publish" style="float: left">Add a Place</a>
    </div>
    
    <h2 style="text-align:center; margin-top:50px">"COUNTRIES" TAB IS UNDER DEVELOPMENT PROCESS!!!</h2>
    <p style="margin-top: 20px; margin-bottom:0; margin-left: 130px;margin-right: 130px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu rhoncus dui. In hac habitasse platea dictumst. Sed luctus consequat dolor, eget faucibus lectus pulvinar sit amet. Duis tempus condimentum mauris, ut auctor tortor consequat at. Nullam quis enim vitae nisl sagittis porttitor molestie at orci. Maecenas purus arcu, ornare id facilisis nec, iaculis eu purus. Curabitur sapien arcu, vulputate a consectetur in, accumsan eu tortor. Vestibulum hendrerit imperdiet lorem, sit amet hendrerit massa. Maecenas in est id magna eleifend tincidunt sit amet a diam. Ut sem turpis, pretium porta ipsum sit amet, ultricies accumsan tellus. Sed ac purus nunc. Nullam tempus nisl sem, eget sollicitudin orci faucibus in. Etiam libero purus, dignissim id nisl eu, mattis consectetur libero.</p>
    <p style="margin-top: 20px; margin-bottom:0; margin-left: 130px;margin-right: 130px;">Praesent dictum, mauris a suscipit eleifend, tellus quam consectetur nunc, ut faucibus libero orci eu lectus. Quisque maximus commodo magna. Nunc in mauris et felis aliquam gravida. Cras convallis nunc eu sagittis sodales. Curabitur scelerisque luctus lacus, quis gravida tortor sodales et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec gravida leo vitae mauris blandit maximus. Ut quis iaculis nunc. Sed consectetur commodo orci, vel semper massa eleifend non. Proin est lorem, imperdiet at ex sit amet, eleifend sagittis risus. Pellentesque congue tellus ligula, quis interdum turpis maximus eget. Nulla eu elementum justo, vitae rutrum lectus. Nulla facilisi. Suspendisse vel sem gravida enim ornare placerat. Proin sed feugiat massa, vitae ultricies odio. Maecenas vestibulum lacus metus, sit amet ornare tellus tincidunt egestas.</p>
    <p style="margin-top: 20px; margin-bottom:0; margin-left: 130px;margin-right: 130px;">Mauris porta, libero sed pharetra facilisis, arcu ex lobortis felis, a tristique erat purus a leo. Morbi non sodales est. Donec hendrerit augue eget facilisis rhoncus. Nullam lorem nibh, semper vitae fringilla eu, congue sit amet arcu. Nulla eget mollis diam. In pulvinar, lacus ut pulvinar tempor, nisl diam finibus leo, commodo ornare nisl velit quis erat. Integer a arcu non nisl ultrices vestibulum eu sed dui.</p>

   <!-- <div class="container">
      <div class="viewer column" id="viewer">
        <h2 id="placeName">Welcome!</h2>
        <img id="viewImg" src="images/map.svg" class="view-img">
        <p id="placeInfo"></p>
      </div>

      <div class="deck column">
        <div class="card" onmouseover="mouseOver1()" onmouseout="mouseOut()">
          <img id="card1" src="images/1.jpg" alt="Image Not Found!" class="img">
          <h3 id="placeLabel1" class="label">Rizal Park</h3>
          <div class="info">
            <a href="https://en.wikipedia.org/wiki/Rizal_Park" style="text-decoration:none;">Read more...</a>
          </div>
        </div>
        <div class="card" onmouseover="mouseOver2()" onmouseout="mouseOut()">
          <img id="card2" src="images/2.jpg" alt="Image Not Found!" class="img">
          <h3 id="placeLabel2" class="label">Empire State Building</h3>
          <div class="info">
            <a href="https://en.wikipedia.org/wiki/Empire_State_Building" style="text-decoration:none;">Read more...</a>
          </div>
        </div>
        <div class="card" onmouseover="mouseOver3()" onmouseout="mouseOut()">
          <img id="card3" src="images/3.jpg" alt="Image Not Found!" class="img">
          <h3 id="placeLabel3" class="label">Eiffel Tower</h3>
          <div class="info">
            <a href="https://en.wikipedia.org/wiki/Eiffel_Tower" style="text-decoration:none;">Read more...</a>
          </div>
        </div>
        <div class="card" onmouseover="mouseOver4()" onmouseout="mouseOut()">
          <img id="card4" src="images/4.jpg" alt="Image Not Found!" class="img">
          <h3 id="placeLabel4" class="label">Christ the Redeemer</h3>
          <div class="info">
            <a href="https://en.wikipedia.org/wiki/Christ_the_Redeemer_(statue)" style="text-decoration:none;">Read
              more...</a>
          </div>
        </div>
        <div class="card" onmouseover="mouseOver5()" onmouseout="mouseOut()">
          <img id="card5" src="images/5.jpg" alt="Image Not Found!" class="img">
          <h3 id="placeLabel5" class="label">Stonehenge</h3>
          <div class="info">
            <a href="https://en.wikipedia.org/wiki/Stonehenge" style="text-decoration:none;">Read more...</a>
          </div>
        </div>
        <div class="card" onmouseover="mouseOver6()" onmouseout="mouseOut()">
          <img id="card6" src="images/6.jpg" alt="Image Not Found!" class="img">
          <h3 id="placeLabel6" class="label">Sydney Opera House</h3>
          <div class="info">
            <a href="https://en.wikipedia.org/wiki/Sydney_Opera_House" style="text-decoration:none;">Read more...</a>
          </div>
        </div>
        <div class="card" onmouseover="mouseOver7()" onmouseout="mouseOut()">
          <img id="card7" src="images/7.jpg" alt="Image Not Found!" class="img">
          <h3 id="placeLabel7" class="label">Great Pyramid of Giza</h3>
          <div class="info">
            <a href="https://en.wikipedia.org/wiki/Great_Pyramid_of_Giza" style="text-decoration:none;">Read more...</a>
          </div>
        </div>

        <div class="card" onmouseover="mouseOver8()" onmouseout="mouseOut()">
          <img id="card8" src="images/8.jpg" alt="Image Not Found!" class="img">
          <h3 id="placeLabel8" class="label">Grand Canyon</h3>
          <div class="info">
            <a href="https://en.wikipedia.org/wiki/Great_Pyramid_of_Giza" style="text-decoration:none;">Read more...</a>
          </div>
        </div>

        <div class="card" onmouseover="mouseOver9()" onmouseout="mouseOut()">
          <img id="card9" src="images/9.jpg" alt="Image Not Found!" class="img">
          <h3 id="placeLabel9" class="label">Himeji Castle</h3>
          <div class="info">
            <a href="https://en.wikipedia.org/wiki/Himeji_Castle" style="text-decoration:none;">Read more...</a>
          </div>
        </div>
      </div>
    </div> -->

    <div class="before-footer">
      <div class="content-footer">
        <span style="font-weight:bold">More About the </span>
        <span style="font-weight:bold; font-style:italic">Let's Go: </span>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quia cumque porro fuga fugiat saepe
          consequuntur utr sit amet, consectetur adipisicing elit. Sint quia cumque porro fuga fugiat saepe
          consequuntur ut deserunt earum tempora alias quod similique commodi, incidunt tenetur nihil iste. Laboriosam,
          eos?</span>
      </div>
    </div>
  </main>

  <footer>
    <p>&copy; All rights reserved. Camero | 2018</p>
  </footer>
</body>

<div class="card-again">
  <div class="card-image">

  </div>
  <div class="card-body">

  </div>
  <div class="card-footer">

  </div>
</div>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }

  function mouseOver1() {
    document.getElementById("placeName").innerHTML = document.getElementById("placeLabel1").innerHTML;
    document.getElementById("placeInfo").innerHTML = "Rizal Park, also known as Luneta Park or simply Luneta, is a historical urban park in the Philippines. Located along Roxas Boulevard, Manila, adjacent to the old walled city of Intramuros, it is one of the largest urban parks in Asia"
    document.getElementById("card1").src = "images/a.png";
    document.getElementById("viewImg").src = "images/1.jpg"
  }
  function mouseOver2() {
    document.getElementById("placeName").innerHTML = document.getElementById("placeLabel2").innerHTML;
    document.getElementById("placeInfo").innerHTML = "The Empire State Building is a 102-story Art Deco skyscraper in Midtown Manhattan, New York City. Designed by Shreve, Lamb & Harmon and completed in 1931, the building has a roof height of 1,250 feet and stands a total of 1,454 feet tall, including its antenna.";
    document.getElementById("card2").src = "images/b.png";
    document.getElementById("viewImg").src = "images/2.jpg"
  }
  function mouseOver3() {
    document.getElementById("placeName").innerHTML = document.getElementById("placeLabel3").innerHTML;
    document.getElementById("placeInfo").innerHTML = "The Eiffel Tower is a wrought-iron lattice tower on the Champ de Mars in Paris, France. It is named after the engineer Gustave Eiffel, whose company designed and built the tower.";
    document.getElementById("card3").src = "images/c.png";
    document.getElementById("viewImg").src = "images/3.jpg"
  }
  function mouseOver4() {
    document.getElementById("placeName").innerHTML = document.getElementById("placeLabel4").innerHTML;
    document.getElementById("placeInfo").innerHTML = "Christ the Redeemer is an Art Deco statue of Jesus Christ in Rio de Janeiro, Brazil, created by French sculptor Paul Landowski and built by Brazilian engineer Heitor da Silva Costa, in collaboration with French engineer Albert Caquot. Romanian sculptor Gheorghe Leonida fashioned the face."
    document.getElementById("card4").src = "images/d.png";
    document.getElementById("viewImg").src = "images/4.jpg"
  }
  function mouseOver5() {
    document.getElementById("placeName").innerHTML = document.getElementById("placeLabel5").innerHTML;
    document.getElementById("placeInfo").innerHTML = "Stonehenge is a prehistoric monument in Wiltshire, England, two miles (3 km) west of Amesbury. It consists of a ring of standing stones, with each standing stone around 13 feet (4.0 m) high, seven feet (2.1 m) wide and weighing around 25 tons."
    document.getElementById("card5").src = "images/e.png";
    document.getElementById("viewImg").src = "images/5.jpg"
  }
  function mouseOver6() {
    document.getElementById("placeName").innerHTML = document.getElementById("placeLabel6").innerHTML;
    document.getElementById("placeInfo").innerHTML = "The Sydney Opera House is a multi-venue performing arts centre in Sydney, New South Wales, Australia. It is one of the 20th century's most famous and distinctive buildings."
    document.getElementById("card6").src = "images/f.png";
    document.getElementById("viewImg").src = "images/6.jpg"
  }
  function mouseOver7() {
    document.getElementById("placeName").innerHTML = document.getElementById("placeLabel7").innerHTML;
    document.getElementById("placeInfo").innerHTML = "The Great Pyramid of Giza is the oldest and largest of the three pyramids in the Giza pyramid complex bordering what is now El Giza, Egypt. It is the oldest of the Seven Wonders of the Ancient World, and the only one to remain largely intact.</span>";
    document.getElementById("card7").src = "images/g.png";
    document.getElementById("viewImg").src = "images/7.jpg"
  }
  function mouseOver8() {
    document.getElementById("placeName").innerHTML = document.getElementById("placeLabel8").innerHTML;
    document.getElementById("placeInfo").innerHTML = "The Grand Canyon is a steep-sided canyon carved by the Colorado River in Arizona, United States. The Grand Canyon is 277 miles (446 km) long, up to 18 miles (29 km) wide and attains a depth of over a mile (6,093 feet or 1,857 meters).";
    document.getElementById("card8").src = "images/b.png";
    document.getElementById("viewImg").src = "images/8.jpg"
  }
  function mouseOver9() {
    document.getElementById("placeName").innerHTML = document.getElementById("placeLabel9").innerHTML;
    document.getElementById("placeInfo").innerHTML = "Himeji Castle is also known as “White Egret Castle” (Hakuro-jo) or “White Heron Castle” (Shirasagi-jo) due to its pristine whiteness and resemblance to a flying bird. This medieval landmark is known for its structural integrity, having survived a fire, a war and an earthquake but also for its unparalleled beauty, marking it out as a top filming location";
    document.getElementById("card9").src = "images/i.png";
    document.getElementById("viewImg").src = "images/9.jpg"
  }

  function mouseOut() {
    document.getElementById("placeName").innerHTML = "Welcome!";
    document.getElementById("placeInfo").innerHTML = "";
    document.getElementById("viewImg").src = "images/map.svg";
    document.getElementById("card1").src = "images/1.jpg";
    document.getElementById("card2").src = "images/2.jpg";
    document.getElementById("card3").src = "images/3.jpg";
    document.getElementById("card4").src = "images/4.jpg";
    document.getElementById("card5").src = "images/5.jpg";
    document.getElementById("card6").src = "images/6.jpg";
    document.getElementById("card7").src = "images/7.jpg";
    document.getElementById("card8").src = "images/8.jpg";
    document.getElementById("card9").src = "images/9.jpg";
  }

</script>

</html>